{{#>pdf}}
  <style>
    @media print {
      .title {
        text-align: center;
        margin-right: 10mm;
        color: white;
        font-weight: bold;
      }

      .header {
        /* margin: 5mm 0; */
        display: flex;
        justify-content: center;
        flex-direction: row;
      }

      .header-box {
        /* padding: 3mm; */
        /* border: 0.1mm dotted black; */
        flex-grow: 1;
      }

      .header-box:first-child {
        border-right: none;
      }

      .date-info {
        margin: 10mm 0;
      }

      .main-color {
        font-weight: bold;
        color: #dc3d4b;
      }

      .date-info h6 {
        margin-bottom: 0.5mm;
      }

      .date-info h6:first-child {
        margin-bottom: 0;
        text-align: center;
      }

      .date-info h4:first-child {
        margin-bottom: 0;
        text-align: center;
      }

      th {
        border: 1mm solid transparent;
        text-align: left;
      }

      table,
      th {
        border-collapse: collapse;
      }

      th {
        padding: 1mm 0.2mm;
        text-align: right;
        border: 0.1mm solid transparent;
      }

      table tr:nth-child(odd) {
        background-color: #e0e0e0;
      }

      td {
        padding: 1mm;
        text-align: center;
      }

      .info-table {
        margin-top: 25mm;
        width: 130mm;
        align-self: flex-end;
      }

      .info-table table {
        width: 100%;
      }

      .extra-info {
        display: flex;
        flex-direction: column;
        margin-top: 15mm;
      }

      .extra-info-box {
        height: 16mm;
      }

      .logo-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5mm 0;
      }

      .logo-section-separator {
        /* width: 50mm; */
      }

      .title-box {
        position: absolute;
        top: -15mm;
        right: 33mm;
        clip-path: ellipse(267% 100% at 267% 0%);
        background-color: #dc3d4b;
        width: 30mm;
        height: 75mm;
        transform: rotate(-90deg) scaleY(-1) scale(1.5);
        z-index: -1;
      }

      .logo {
        width: 50mm;
        /* filter: grayscale(100%); */
      }

      footer {
        position: absolute;
        bottom: 10mm;
        background-color: #dc3d4b;
        color: white;
        display: flex;
        justify-content: space-between;
        /* margin-top: 70mm; */
        /* justify-self: flex-end; */
      }

      .footer-div {
        padding: 5mm
      }

      .order-info {
        margin: 10mm 0;
      }

      hr {
        border-top: 0.1mm solid #dc3d4b;
        width: 100%;
      }
    }
  </style>
  <div class="logo-section">
    {{#if company.logo}}
      <img class="logo" src="{{company.logo}}" />
    {{else}}
      <div class="logo"></div>
    {{/if}}
    <div class="title-box"></div>
    <h2 class="title">{{order.orderNumber}}</h2>
  </div>
  <div class='header'>
    <div class='header-box'>
      <h3>{{company.name}}</h3>
    </div>
  </div>
  <div class='order-info'>
    <h6>Informacije o isporuci i računu:</h6>
    <br />
    <h6>{{order.companyClient.name}}</h6>
    <h6>{{order.companyClient.street}},
      {{order.companyClient.postalCode}}
      {{order.companyClient.city}}
    </h6>
    <h6>MB: {{order.companyClient.companyNumber}}</h6>
    <h6>PIB: {{order.companyClient.taxIdNumber}}</h6>
  </div>
  <hr />
  <div class='date-info'>
    <h4 class="main-color"><b>Račun broj: {{order.orderNumber}}</b></h4>
    <br />
    <h6>Datum prometa usluga: {{formattedDate}}</h6>
    <h6>Datum izdavanja računa: {{formattedDate}}</h6>
    <h6>Mesto izdavanja računa: {{company.city}}</h6>
  </div>
  <table>
    <tr>
      <th>
        <h6>r.br</h6>
      </th>
      <th style="text-align: center">
        <h6>
          VRSTA - NAZIV
          <br />
          DOBARA - USLUGA
        </h6>
      </th>
      <th>
        <h6>jed mere</h6>
      </th>
      <th>
        <h6>količina</h6>
      </th>
      <th>
        <h6>cena bez PDV</h6>
      </th>
      <th>
        <h6>vrednost bez PDV</h6>
      </th>
      <th>
        <h6>osnovica za PDV</h6>
      </th>
      <th>
        <h6>stopa PDV</h6>
      </th>
      <th>
        <h6>iznos PDV</h6>
      </th>
      <th>
        <h6>vrednost sa PDV</h6>
      </th>
    </tr>
    <tr>
      <th>
        <h6>-</h6>
      </th>
      <th>
        <h6>-</h6>
      </th>
      <th>
        <h6>-</h6>
      </th>
      <th>
        <h6>-</h6>
      </th>
      <th>
        <h6>rsd</h6>
      </th>
      <th>
        <h6>rsd</h6>
      </th>
      <th>
        <h6>rsd</h6>
      </th>
      <th>
        <h6>%</h6>
      </th>
      <th>
        <h6>rsd</h6>
      </th>
      <th>
        <h6>rsd</h6>
      </th>
    </tr>
    {{#each order.productOrders}}
      <tr>
        <td>
          <h6>{{this.order}}.</h6>
        </td>
        <td>
          <h6 style='text-align:left;'>{{this.product.name}}</h6>
        </td>
        <td>
          <h6>{{this.product.unitOfMessure}}</h6>
        </td>
        <td>
          <h6>{{this.quantity}}</h6>
        </td>
        <td>
          <h6 style='text-align:right;'>{{this.product.sellingPrice}}</h6>
        </td>
        <td>
          <h6 style='text-align:right;'>{{this.total}}</h6>
        </td>
        <td>
          <h6 style='text-align:right;'>{{this.total}}</h6>
        </td>
        <td>
          <h6 style='text-align:right;'>{{this.product.taxRate}}</h6>
        </td>
        <td>
          <h6 style='text-align:right;'>{{this.diffTax}}</h6>
        </td>
        <td>
          <h6 style='text-align:right;'>{{this.totalTaxed}}</h6>
        </td>
      </tr>
    {{/each}}
  </table>
  <div class='info-table'>
    <table>
      <tr>
        <th>
          <h6>vrednost bez pdv</h6>
        </th>
        <th>
          <h6>osnovica za pdv</h6>
        </th>
        <th>
          <h6>stopa pdv</h6>
        </th>
        <th>
          <h6>iznos pdv</h6>
        </th>
        <th>
          <h6>ukupna vrednost sa pdv</h6>
        </th>
      </tr>
      <tr>
        <th>
          <h6>{{order.total}}</h6>
        </th>
        <th>
          <h6>{{order.total}}</h6>
        </th>
        <th>
          <h6>20%</h6>
        </th>
        <th>
          <h6>{{order.diffTax}}</h6>
        </th>
        <th>
          <h6>{{order.totalTaxed}}</h6>
        </th>
      </tr>
    </table>
  </div>
  <footer>
    <div class="footer-div">
      <h6>{{company.name}}, {{company.street}}, {{company.postalCode}} {{company.city}}</h6>
      <h6>Kontakt: {{company.phoneMobileNumber}} {{company.email}}</h6>
    </div>
    <div class="footer-div">
      <h6>
        Matični broj: {{company.companyNumber}}, PIB: {{company.taxIdNumber}}, Šifra Delatnosti:
        {{company.activityCode}}
      </h6>
      <h6>Tekući račun: {{company.bankAccountNumber}} {{company.bankName}}</h6>
    </div>
    <div></div>
  </footer>
  {{/pdf}}